# Dart / Flutter
.dart_tool/
.packages
.pub-cache/
build/
coverage/
.flutter-plugins
.flutter-plugins-dependencies
.melos_tool/

# IDEs
.idea/
.vscode/
*.iml

# OS
.DS_Store
Thumbs.db

# FVM (recomendado ignorar el SDK descargado)
.fvm/
!**/fvm_config.json

# Android
android/.gradle/
android/local.properties
android/key.properties
android/app/*.keystore

# iOS
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
